body {
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}

#planning-button {
  background-color: red;
  color: white;
}

#pre-cutover-button {
  background-color: #00a5e0; /* Cayan color */
  color: white;
}

#post-cutover-button {
  background-color: orange;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
